body {
    height: 80vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
div {
    background-color: aliceblue;
    padding: 20px;
}
#bgDiv {
    padding-left: 140px;
    padding-right: 140px;
}
#fontColorDiv {
    padding-left: 100px;
    padding-right: 100px;
}
#timerDiv {
    padding-left: 75px;
    padding-right: 75px;
}
#visibleTimeDiv {
    padding-left: 95px;
    padding-right: 95px;
}
#pauseTimeDiv {
    padding-left: 70px;
    padding-right: 70px;
}
div p {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    align-content: center;
    text-align: center;
    margin-bottom: 10px;
}
label {
    font-size: 25px;
}
button {
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
}