body {
    font-family: Arial, Helvetica, sans-serif;
}
#timer {
    text-align: left;
}

#info {
    font-size: 200px;
    transition: visibility 0s, linear;
}

.invisible {
    visibility: hidden;
    opacity: 0;
}

.visible {
    visibility: visible;
    opacity: 1;
}

#info {
    margin-top: 10%;
    text-align: center;
}

button {
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
}